*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /*Variaveis de cor*/
  --brand-color: #EF5F4C;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secundary: #6c6c6c;

  /*variavia de texto*/
  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/1.5 var(--font-family) ; 
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);

}

body{
  font: var(--text);
  color: var(--text-color-secundary);
  background-color: var(--background-color);
}